<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="expires" content="0">
    <meta name="description" content="Chird.it is for when twitter is too slow">
    <meta name="keywords" content="twitter, chat, swsj, startup-weekend-san-jose, #SWSJ">
    <style type="text/css">
        /*reset css from yui*/
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
        form,fieldset,input,textarea,p,blockquote,th,td{ 
          margin:0;
          padding:0;
        }
        table {
          border-collapse:collapse;
          border-spacing:0;
        }
        fieldset,img { 
          border:0;
        }
        address,caption,cite,code,dfn,em,strong,th,var {
          font-style:normal;
          font-weight:normal;
        }
        ol,ul {
          list-style:none;
        }
        caption,th {
          text-align:left;
        }
        h1,h2,h3,h4,h5,h6 {
          font-size:100%;
          font-weight:normal;
        }
        q:before,q:after {
          content:'';
        }
        abbr,acronym { border:0;
        }
    </style>

    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
   	<%= render 'layouts/header' %>
		
		<div class="container">
		    <div class="row">
		      <section id="flash-messages">
		        <% flash.each do |key, value| %>
		          <div class="flash <%= key %>"><%= value %></div>
		        <% end %>
		      </section>
		      <%= yield %>
		    </div>
		</div>
		
		<%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>
  </body>
</html>